config/influx-db-management.json
[
    {
        "id": "6a082661.39ac28",
        "type": "tab",
        "label": "Influx DB Management",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c82e06c7.a90888",
        "type": "exec",
        "z": "6a082661.39ac28",
        "command": "influx -execute",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "oldrc": false,
        "name": "No Auth",
        "x": 1140,
        "y": 100,
        "wires": [
            [
                "fbad47e2.065f48"
            ],
            [
                "2e7b3c0f.c0dac4"
            ],
            []
        ]
    },
    {
        "id": "7ba4bd4f.f6c894",
        "type": "ui_button",
        "z": "6a082661.39ac28",
        "name": "",
        "group": "1c206cbf.7f4273",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Create",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "491d8883.d562e8",
                "ddbfb7a.97f3648"
            ]
        ]
    },
    {
        "id": "491d8883.d562e8",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "admin",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "24d778fe.8aeb68"
            ]
        ]
    },
    {
        "id": "e6d20ba8.ef7c48",
        "type": "ui_text_input",
        "z": "6a082661.39ac28",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "1c206cbf.7f4273",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "57db4ff0.d15ab"
            ]
        ]
    },
    {
        "id": "57db4ff0.d15ab",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "admin.password",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ddbfb7a.97f3648",
        "type": "function",
        "z": "6a082661.39ac28",
        "name": "empty",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "e6d20ba8.ef7c48"
            ]
        ]
    },
    {
        "id": "24d778fe.8aeb68",
        "type": "function",
        "z": "6a082661.39ac28",
        "name": "Parse",
        "func": "msg.payload = `\"CREATE USER admin WITH PASSWORD '${msg.payload.password}' WITH ALL PRIVILEGES\"`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 160,
        "wires": [
            [
                "abf8a2d1.df894"
            ]
        ]
    },
    {
        "id": "2e7b3c0f.c0dac4",
        "type": "ui_toast",
        "z": "6a082661.39ac28",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1370,
        "y": 100,
        "wires": []
    },
    {
        "id": "fbad47e2.065f48",
        "type": "debug",
        "z": "6a082661.39ac28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 60,
        "wires": []
    },
    {
        "id": "87d32817.07b468",
        "type": "ui_button",
        "z": "6a082661.39ac28",
        "name": "",
        "group": "8cbacf22.26c53",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Create",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "f29edd82.39e51",
                "18128fca.370ae"
            ]
        ]
    },
    {
        "id": "f29edd82.39e51",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "user",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 500,
        "wires": [
            [
                "5d787eac.0a45b"
            ]
        ]
    },
    {
        "id": "ec6c5532.56c818",
        "type": "ui_text_input",
        "z": "6a082661.39ac28",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "8cbacf22.26c53",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 440,
        "y": 440,
        "wires": [
            [
                "10d92a1d.4682a6"
            ]
        ]
    },
    {
        "id": "10d92a1d.4682a6",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "user.password",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "18128fca.370ae",
        "type": "function",
        "z": "6a082661.39ac28",
        "name": "empty",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "ec6c5532.56c818",
                "f8e9fe92.f01b7"
            ]
        ]
    },
    {
        "id": "5d787eac.0a45b",
        "type": "function",
        "z": "6a082661.39ac28",
        "name": "Parse",
        "func": "msg.payload = `\"CREATE USER ${msg.payload.username} WITH PASSWORD '${msg.payload.password}'\"`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 500,
        "wires": [
            [
                "74325ecb.c1dbd"
            ]
        ]
    },
    {
        "id": "f8e9fe92.f01b7",
        "type": "ui_text_input",
        "z": "6a082661.39ac28",
        "name": "",
        "label": "User",
        "tooltip": "",
        "group": "8cbacf22.26c53",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "aeae6d52.43447"
            ]
        ]
    },
    {
        "id": "aeae6d52.43447",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "user.username",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "20fb3586.0c801a",
        "type": "ui_dropdown",
        "z": "6a082661.39ac28",
        "name": "",
        "label": "Privilege",
        "tooltip": "",
        "place": "Select option",
        "group": "6fdf86fb.33b238",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            },
            {
                "label": "Read",
                "value": "READ",
                "type": "str"
            },
            {
                "label": "Write",
                "value": "WRITE",
                "type": "str"
            },
            {
                "label": "All",
                "value": "ALL",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 300,
        "y": 1080,
        "wires": [
            [
                "fa8fa1c1.41e5e"
            ]
        ]
    },
    {
        "id": "41ce6035.54a6c",
        "type": "ui_button",
        "z": "6a082661.39ac28",
        "name": "",
        "group": "6fdf86fb.33b238",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Grant",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "d19468c0.386798"
            ]
        ]
    },
    {
        "id": "eef0e249.ad946",
        "type": "ui_dropdown",
        "z": "6a082661.39ac28",
        "name": "",
        "label": "User",
        "tooltip": "",
        "place": "Select option",
        "group": "6fdf86fb.33b238",
        "order": 4,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 290,
        "y": 1040,
        "wires": [
            [
                "c77e4e6a.656bf"
            ]
        ]
    },
    {
        "id": "e75df1b1.763c1",
        "type": "exec",
        "z": "6a082661.39ac28",
        "command": "influx -username 'admin' -password 'admin' -execute 'show users'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "Show Users",
        "x": 1210,
        "y": 440,
        "wires": [
            [
                "b25f486c.4b4998"
            ],
            [],
            []
        ]
    },
    {
        "id": "b25f486c.4b4998",
        "type": "function",
        "z": "6a082661.39ac28",
        "name": "Parse",
        "func": "msg.options = msg.payload\n                .split(/\\r?\\n/)\n                .slice(2, -1)\n                .map(val => val.split(\" \")[0])\n                .filter(val => val !== 'admin')\n                .map(val => {\n                    let obj = {};\n                    obj[val] = val;\n                    return obj;\n                });\n                \nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1370,
        "y": 440,
        "wires": [
            [
                "9860bdb4.80b6b"
            ]
        ]
    },
    {
        "id": "c77e4e6a.656bf",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "privileges.username",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "fa8fa1c1.41e5e",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "privileges.privilege",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "8322025d.08aae",
        "type": "ui_button",
        "z": "6a082661.39ac28",
        "name": "Refresh",
        "group": "6fdf86fb.33b238",
        "order": 1,
        "width": 1,
        "height": 3,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 960,
        "wires": [
            [
                "1a5c66e1.4a0369",
                "20fb3586.0c801a"
            ]
        ]
    },
    {
        "id": "8d87ace.f16535",
        "type": "exec",
        "z": "6a082661.39ac28",
        "command": "influx -username 'admin' -password 'admin' -execute 'show databases'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "Show Databases",
        "x": 1190,
        "y": 620,
        "wires": [
            [
                "e79398eb.4856a8"
            ],
            [],
            []
        ]
    },
    {
        "id": "e79398eb.4856a8",
        "type": "function",
        "z": "6a082661.39ac28",
        "name": "Parse",
        "func": "msg.options = msg.payload\n                .split(/\\r?\\n/)\n                .slice(3, -1)\n                .map(val => val.split(\" \")[0])\n                .filter(val => val !== '_internal')\n                .map(val => {\n                    let obj = {};\n                    obj[val] = val;\n                    return obj;\n                });\n                \nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1370,
        "y": 620,
        "wires": [
            [
                "89525646.c588f8"
            ]
        ]
    },
    {
        "id": "97285270.7f557",
        "type": "ui_dropdown",
        "z": "6a082661.39ac28",
        "name": "",
        "label": "Database",
        "tooltip": "",
        "place": "Select option",
        "group": "6fdf86fb.33b238",
        "order": 3,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 300,
        "y": 1000,
        "wires": [
            [
                "47a52da4.035044"
            ]
        ]
    },
    {
        "id": "47a52da4.035044",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "privileges.database",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "d19468c0.386798",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "privileges",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1120,
        "wires": [
            [
                "2f8aa39c.4e7cac"
            ]
        ]
    },
    {
        "id": "2f8aa39c.4e7cac",
        "type": "function",
        "z": "6a082661.39ac28",
        "name": "Parse",
        "func": "msg.payload = `\"GRANT ${msg.payload.privilege} ON ${msg.payload.database} TO ${msg.payload.username}\"`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1120,
        "wires": [
            [
                "909b4a27.e889b8"
            ]
        ]
    },
    {
        "id": "76c14f1d.8cf0b",
        "type": "ui_button",
        "z": "6a082661.39ac28",
        "name": "",
        "group": "9b2b87d5.eeb918",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Create",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "219a6d34.263a22",
                "55c1af4d.60a8b"
            ]
        ]
    },
    {
        "id": "e5a2efbf.3995f",
        "type": "ui_text_input",
        "z": "6a082661.39ac28",
        "name": "",
        "label": "Database Name",
        "tooltip": "",
        "group": "9b2b87d5.eeb918",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 480,
        "y": 1320,
        "wires": [
            [
                "96ad115b.1f1bc"
            ]
        ]
    },
    {
        "id": "96ad115b.1f1bc",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "database.name",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "219a6d34.263a22",
        "type": "function",
        "z": "6a082661.39ac28",
        "name": "empty",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 1320,
        "wires": [
            [
                "e5a2efbf.3995f"
            ]
        ]
    },
    {
        "id": "55c1af4d.60a8b",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "database",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1380,
        "wires": [
            [
                "48a31060.0535f"
            ]
        ]
    },
    {
        "id": "48a31060.0535f",
        "type": "function",
        "z": "6a082661.39ac28",
        "name": "Parse",
        "func": "msg.payload = `\"CREATE DATABASE ${msg.payload.name}\"`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 1380,
        "wires": [
            [
                "f42e3e12.9630f"
            ]
        ]
    },
    {
        "id": "abf8a2d1.df894",
        "type": "link out",
        "z": "6a082661.39ac28",
        "name": "",
        "links": [
            "599f973a.721918"
        ],
        "x": 635,
        "y": 160,
        "wires": []
    },
    {
        "id": "599f973a.721918",
        "type": "link in",
        "z": "6a082661.39ac28",
        "name": "No Auth Influx CLI",
        "links": [
            "abf8a2d1.df894"
        ],
        "x": 1035,
        "y": 100,
        "wires": [
            [
                "c82e06c7.a90888"
            ]
        ]
    },
    {
        "id": "974b0b51.21b848",
        "type": "exec",
        "z": "6a082661.39ac28",
        "command": "influx -username 'admin' -password 'admin' -execute",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "Admin CLI",
        "x": 1150,
        "y": 260,
        "wires": [
            [
                "aa9539fd.fdd788"
            ],
            [
                "c30a2edd.5d209"
            ],
            []
        ]
    },
    {
        "id": "c30a2edd.5d209",
        "type": "ui_toast",
        "z": "6a082661.39ac28",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1390,
        "y": 300,
        "wires": []
    },
    {
        "id": "aa9539fd.fdd788",
        "type": "debug",
        "z": "6a082661.39ac28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 260,
        "wires": []
    },
    {
        "id": "20389694.2f320a",
        "type": "link in",
        "z": "6a082661.39ac28",
        "name": "Admin Influx CLI",
        "links": [
            "74325ecb.c1dbd",
            "f42e3e12.9630f",
            "909b4a27.e889b8",
            "9ebd2b5d.188e08",
            "2ad172a6.eaa45e"
        ],
        "x": 1035,
        "y": 260,
        "wires": [
            [
                "974b0b51.21b848"
            ]
        ]
    },
    {
        "id": "74325ecb.c1dbd",
        "type": "link out",
        "z": "6a082661.39ac28",
        "name": "",
        "links": [
            "20389694.2f320a"
        ],
        "x": 635,
        "y": 500,
        "wires": []
    },
    {
        "id": "f42e3e12.9630f",
        "type": "link out",
        "z": "6a082661.39ac28",
        "name": "",
        "links": [
            "20389694.2f320a"
        ],
        "x": 775,
        "y": 1380,
        "wires": []
    },
    {
        "id": "909b4a27.e889b8",
        "type": "link out",
        "z": "6a082661.39ac28",
        "name": "",
        "links": [
            "20389694.2f320a"
        ],
        "x": 675,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5cb575f0.20dbdc",
        "type": "ui_button",
        "z": "6a082661.39ac28",
        "name": "",
        "group": "94cc77bb.ea2af8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Drop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1600,
        "wires": [
            [
                "e8b5d4e5.f7be98"
            ]
        ]
    },
    {
        "id": "875fa953.fae788",
        "type": "ui_button",
        "z": "6a082661.39ac28",
        "name": "Refresh",
        "group": "94cc77bb.ea2af8",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 1520,
        "wires": [
            [
                "31556997.983fc6"
            ]
        ]
    },
    {
        "id": "439a10db.116e9",
        "type": "ui_dropdown",
        "z": "6a082661.39ac28",
        "name": "",
        "label": "Database",
        "tooltip": "",
        "place": "Select option",
        "group": "94cc77bb.ea2af8",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 340,
        "y": 1560,
        "wires": [
            [
                "277877eb.794ab8"
            ]
        ]
    },
    {
        "id": "277877eb.794ab8",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "drop.database",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "e8b5d4e5.f7be98",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "drop",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1600,
        "wires": [
            [
                "d8534262.3fbb4"
            ]
        ]
    },
    {
        "id": "d8534262.3fbb4",
        "type": "function",
        "z": "6a082661.39ac28",
        "name": "Parse",
        "func": "msg.payload = `\"DROP DATABASE ${msg.payload.database}\"`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 590,
        "y": 1600,
        "wires": [
            [
                "9ebd2b5d.188e08"
            ]
        ]
    },
    {
        "id": "9ebd2b5d.188e08",
        "type": "link out",
        "z": "6a082661.39ac28",
        "name": "",
        "links": [
            "20389694.2f320a"
        ],
        "x": 715,
        "y": 1600,
        "wires": []
    },
    {
        "id": "ef6c27b4.eee568",
        "type": "ui_button",
        "z": "6a082661.39ac28",
        "name": "",
        "group": "544bb9e2.7bcb98",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Drop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "6f3c53f.29c7bac"
            ]
        ]
    },
    {
        "id": "ca4a3e7c.3a4b1",
        "type": "ui_button",
        "z": "6a082661.39ac28",
        "name": "Refresh",
        "group": "544bb9e2.7bcb98",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "1f553f32.bb71b1"
            ]
        ]
    },
    {
        "id": "6f34f494.b6cafc",
        "type": "ui_dropdown",
        "z": "6a082661.39ac28",
        "name": "",
        "label": "User",
        "tooltip": "",
        "place": "Select option",
        "group": "544bb9e2.7bcb98",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 330,
        "y": 740,
        "wires": [
            [
                "f6df20a7.4c92b"
            ]
        ]
    },
    {
        "id": "f6df20a7.4c92b",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "drop_user.username",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "6f3c53f.29c7bac",
        "type": "change",
        "z": "6a082661.39ac28",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "drop_user",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 780,
        "wires": [
            [
                "23d7a3a8.d2a4ac"
            ]
        ]
    },
    {
        "id": "23d7a3a8.d2a4ac",
        "type": "function",
        "z": "6a082661.39ac28",
        "name": "Parse",
        "func": "msg.payload = `\"DROP USER ${msg.payload.username}\"`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 590,
        "y": 780,
        "wires": [
            [
                "2ad172a6.eaa45e"
            ]
        ]
    },
    {
        "id": "2ad172a6.eaa45e",
        "type": "link out",
        "z": "6a082661.39ac28",
        "name": "",
        "links": [
            "20389694.2f320a"
        ],
        "x": 715,
        "y": 780,
        "wires": []
    },
    {
        "id": "fbb836ac.2053e8",
        "type": "comment",
        "z": "6a082661.39ac28",
        "name": "Please, set up your admin credentials for further usage.",
        "info": "",
        "x": 1230,
        "y": 200,
        "wires": []
    },
    {
        "id": "b017f9cc.faa878",
        "type": "comment",
        "z": "6a082661.39ac28",
        "name": "create admin user",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "f5e4d7c6.be1ed8",
        "type": "comment",
        "z": "6a082661.39ac28",
        "name": "create non-admin user",
        "info": "",
        "x": 180,
        "y": 360,
        "wires": []
    },
    {
        "id": "18521e1b.069282",
        "type": "comment",
        "z": "6a082661.39ac28",
        "name": "create database",
        "info": "",
        "x": 160,
        "y": 1280,
        "wires": []
    },
    {
        "id": "3ddaa7c8.acaa18",
        "type": "comment",
        "z": "6a082661.39ac28",
        "name": "drop non-admin user",
        "info": "",
        "x": 180,
        "y": 640,
        "wires": []
    },
    {
        "id": "124cf0bc.76a2bf",
        "type": "comment",
        "z": "6a082661.39ac28",
        "name": "drop database",
        "info": "",
        "x": 160,
        "y": 1460,
        "wires": []
    },
    {
        "id": "1f553f32.bb71b1",
        "type": "link out",
        "z": "6a082661.39ac28",
        "name": "",
        "links": [
            "79b25d3f.cf67d4"
        ],
        "x": 295,
        "y": 700,
        "wires": []
    },
    {
        "id": "79b25d3f.cf67d4",
        "type": "link in",
        "z": "6a082661.39ac28",
        "name": "request users",
        "links": [
            "1a5c66e1.4a0369",
            "1f553f32.bb71b1"
        ],
        "x": 1035,
        "y": 440,
        "wires": [
            [
                "e75df1b1.763c1"
            ]
        ]
    },
    {
        "id": "1a5c66e1.4a0369",
        "type": "link out",
        "z": "6a082661.39ac28",
        "name": "",
        "links": [
            "2cbae042.d1fde",
            "79b25d3f.cf67d4"
        ],
        "x": 255,
        "y": 960,
        "wires": []
    },
    {
        "id": "9860bdb4.80b6b",
        "type": "link out",
        "z": "6a082661.39ac28",
        "name": "response users",
        "links": [
            "efa458e3.f24bb8",
            "6e3dccf8.159cc4"
        ],
        "x": 1475,
        "y": 440,
        "wires": []
    },
    {
        "id": "efa458e3.f24bb8",
        "type": "link in",
        "z": "6a082661.39ac28",
        "name": "",
        "links": [
            "9860bdb4.80b6b"
        ],
        "x": 95,
        "y": 740,
        "wires": [
            [
                "6f34f494.b6cafc"
            ]
        ]
    },
    {
        "id": "6e3dccf8.159cc4",
        "type": "link in",
        "z": "6a082661.39ac28",
        "name": "",
        "links": [
            "9860bdb4.80b6b"
        ],
        "x": 95,
        "y": 1040,
        "wires": [
            [
                "eef0e249.ad946"
            ]
        ]
    },
    {
        "id": "2cbae042.d1fde",
        "type": "link in",
        "z": "6a082661.39ac28",
        "name": "request databases",
        "links": [
            "1a5c66e1.4a0369",
            "31556997.983fc6"
        ],
        "x": 1035,
        "y": 620,
        "wires": [
            [
                "8d87ace.f16535"
            ]
        ]
    },
    {
        "id": "31556997.983fc6",
        "type": "link out",
        "z": "6a082661.39ac28",
        "name": "",
        "links": [
            "2cbae042.d1fde"
        ],
        "x": 295,
        "y": 1520,
        "wires": []
    },
    {
        "id": "89525646.c588f8",
        "type": "link out",
        "z": "6a082661.39ac28",
        "name": "response databases",
        "links": [
            "ca6aa3a9.a4b6",
            "9d506a2c.e65128"
        ],
        "x": 1475,
        "y": 620,
        "wires": []
    },
    {
        "id": "ca6aa3a9.a4b6",
        "type": "link in",
        "z": "6a082661.39ac28",
        "name": "",
        "links": [
            "89525646.c588f8"
        ],
        "x": 95,
        "y": 1000,
        "wires": [
            [
                "97285270.7f557"
            ]
        ]
    },
    {
        "id": "9d506a2c.e65128",
        "type": "link in",
        "z": "6a082661.39ac28",
        "name": "",
        "links": [
            "89525646.c588f8"
        ],
        "x": 95,
        "y": 1560,
        "wires": [
            [
                "439a10db.116e9"
            ]
        ]
    },
    {
        "id": "aff038ee.aba428",
        "type": "comment",
        "z": "6a082661.39ac28",
        "name": "grant privileges on database to user",
        "info": "",
        "x": 220,
        "y": 900,
        "wires": []
    },
    {
        "id": "ad1b3ab3a89a81bf",
        "type": "comment",
        "z": "6a082661.39ac28",
        "name": "Please, set up your admin credentials for further usage.",
        "info": "",
        "x": 1230,
        "y": 380,
        "wires": []
    },
    {
        "id": "ef9ec0650534630b",
        "type": "comment",
        "z": "6a082661.39ac28",
        "name": "Please, set up your admin credentials for further usage.",
        "info": "",
        "x": 1230,
        "y": 560,
        "wires": []
    },
    {
        "id": "50d3cad4b5698bcc",
        "type": "ui_text",
        "z": "6a082661.39ac28",
        "group": "a980331ab009c53f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "Please, now set up your admin credentials on each Admin CLI node (flow editor) for further usage.",
        "layout": "col-center",
        "className": "",
        "x": 1630,
        "y": 60,
        "wires": []
    },
    {
        "id": "3c4f297ba9d883cc",
        "type": "ui_text",
        "z": "6a082661.39ac28",
        "group": "46151723aeed0309",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "Be advised that is best to delete the Influx DB Management flow. Risk of exposing your InfluxDB admin password.",
        "layout": "col-center",
        "className": "",
        "x": 1630,
        "y": 100,
        "wires": []
    },
    {
        "id": "1c206cbf.7f4273",
        "type": "ui_group",
        "name": "1. Create Admin User",
        "tab": "8b88fa9a.131c78",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8cbacf22.26c53",
        "type": "ui_group",
        "name": "3. Create Non-Admin User",
        "tab": "8b88fa9a.131c78",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6fdf86fb.33b238",
        "type": "ui_group",
        "name": "5. Grant Privileges to Non-Admin User",
        "tab": "8b88fa9a.131c78",
        "order": 6,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b2b87d5.eeb918",
        "type": "ui_group",
        "name": "4. Create Database",
        "tab": "8b88fa9a.131c78",
        "order": 5,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "94cc77bb.ea2af8",
        "type": "ui_group",
        "name": "Drop Database",
        "tab": "3959c30b.0b75ac",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "544bb9e2.7bcb98",
        "type": "ui_group",
        "name": "Drop Non-Admin User",
        "tab": "3959c30b.0b75ac",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a980331ab009c53f",
        "type": "ui_group",
        "name": "2. Update Admin CLI nodes",
        "tab": "8b88fa9a.131c78",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "46151723aeed0309",
        "type": "ui_group",
        "name": "6. Delete Influx DB Management Flow",
        "tab": "8b88fa9a.131c78",
        "order": 7,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b88fa9a.131c78",
        "type": "ui_tab",
        "name": "Influx DB First Steps",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3959c30b.0b75ac",
        "type": "ui_tab",
        "name": "Influx DB Database Management",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]